/* 搜索部分 */
.search{
	height: 52px;
	background-color: #F1F3F4;
    border-radius: 22px;
    box-shadow: none;
    margin: 20px auto;
    max-width: 560px;
    opacity: 1;
}

[type="text"]{
	padding-left: 30px;
	width: 100%;
	font-size: 18px;
	background-color: rgb(241, 243, 244);
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	overflow: hidden;
}

.search button{
	outline: none;
	border: none;
    background-color: rgb(241, 243, 244);
	position: absolute;
	top: 55%;
	transform:translateY(-50%);
	right: 5px; 
}

iframe{
	height: 500px;
}

.logo{
	padding:20px 0 0 20px;
}
.logo img{
	width: 200px;
}





/* 图标部分 */

.box{
    overflow: hidden;
    width: 840px;
    margin: 20px auto;
}
.content{
    position: relative;
}

.content a{
    display: block;
    float: left;
    color:#000;
    background-repeat: no-repeat!important;
    background-position: center!important;
    text-align: center;
    position: relative;
    width: 200px;
    height: 200px;
    line-height: 310px;
    margin: 5px;
    overflow: hidden;

    box-shadow: rgb(51, 51, 87) 1px 2px 5px;
    border-radius: 10px;

}
.content a:nth-child(1) {
    background: url(../icon/sk.png);
    /* z-index: 1; */
}
.content a:nth-child(2) {
    background: url(../icon/gzh.png);
}
.content a:nth-child(3) {
    background: url(../icon/wx.png);
}
.content a:nth-child(4) {
    background: url(../icon/lc.png);
}
.content a:nth-child(5) {
    background: url(../icon/github-fill.png);
}

.content a:nth-child(6) {
    background: url(../icon/wjx.png);
    background-size:30%;
}
/* .content a:nth-child(6) {
    background: url(../icon/dd.png);
} */
.content a:hover{
    /* width: 100%;
    height: 100%; */
    /* position: absolute;
    z-index: ; */
    background: rgba(255, 0, 0, 0.3);
}



/* 适配移动端 */
@media screen and (max-width: 640px) {
    .box{
        width: 99%;
        
    }
    .content a{
        width:47%;
    }
    .search{
        font-size: small;
        width: 90%;
    }
    [type="text"]{
        padding-left: 20px;
     
    }
    .content a:nth-child(2){
       display: none;
    }
  }


  /* 封面 */
  .mask{
      background: #000;
      opacity:0.95;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      padding-top: 10%;
      /* line-height: 100%; */
      color: #F1F3F4;
      text-align: center;
      word-wrap:break-word
  }
  .aphorism{
      line-height: 30px;
  } 


  /* 倒计时 */
.time-djs{
    line-height: 30px;
}
#ooo{
    color:red;
    font-weight: bold;
}
